h1	{
	background-color:rgb(30, 140, 30);
	color:rgb(255, 255, 255);
	padding: 15px;
	text-align: center;
	font-family:"Times New Roman", Serif;
	font-size: 48px;
	}

tr th	{
	font-family:"Times New Roman", Serif;
	font-style: italic;
	line-height: 1.9;
	}

p	{
	text-align: center;
	font-family:"Times New Roman", Serif;
	font-size: 26px;
	color:rgb(30, 140, 30);
	line-height: 1.3;
	padding: 10px;
	}

p1	{
	text-align: center;
	font-family:"Times New Roman", Serif;
	font-size: 32px;
	color:rgb(30, 140, 30);
	padding: 10px;
	}

p2	{
	text-align: center;
	font-family:"Times New Roman", Serif;
	font-size: 26px;
	color:rgb(30, 140, 30);
	line-hieght: 0.7;
	}

.table1	{
	width: 100%;
	}

.table2	{
	width: 100%;
	}

.table3	{
	width: 100%;
	}

img	{
	height: 500px;
	width: 850px;
	display: hidden;
	}

a:hover	{
	img:display: normal;
	}

.neutr	{
	}

.wiptxt	{
	text-weight: bold;
	font-family:"Courier New", Monospace;
	color:rgb(255, 0, 0);
	}
